/.settings
/nbproject
/bin
/dist
/testfiles/merge
/.gradle/
/build/
/pushjar.sh
/.idea/
*.iml
/.project
/nbbuild.xml
/manifest.mf
/.checkstyle
/.classpath
gradle.properties
*.swp
/lib/glpk-4.55/
workbench.xmi
